/Projekter/Javascript_DOM_AJAX/exam-preparation_AJAX_JS-1/target/
/Projekter/Javascript_DOM_AJAX/exam-preparation_JS_DOM_AJAX/target/
/Projekter/ORM_JPA/JPA_exam_preparation/target/
/Projekter/ORM_JPA/JPA_exam_preparation/nbproject/
/Projekter/Thread/exam-thread-programming/nbproject/private/
/Projekter/Thread/exam-thread-programming-and-non-blocking-java-servers/nbproject/private/
/Projekter/Thread/exam-thread-programming/build/
/Projekter/Thread/exam-thread-programming-and-non-blocking-java-servers/build/
/Projekter/React/react-with-routing/nbproject/private/